<div class="form-card">
  <h2>Connexion</h2>
  <form [formGroup]="loginForm">
    <div>
      <mat-form-field>
        <mat-label for="login">Identifiant</mat-label>
        <input matInput type="text" id="login" formControlName="login">
      </mat-form-field>
      <div class="form-group" *ngIf="loginForm.get('login')?.invalid && loginForm.get('login')?.touched">
        <crm-help [field]="loginForm.get('login')!" [errorMessages]="errorMessagesLogin" class="error-control"></crm-help>
      </div>
    </div>
    <div>
      <mat-form-field>
        <mat-label for="password">Mot de passe</mat-label>
        <input matInput type="password" id="password" formControlName="password">
      </mat-form-field>
      <div class="form-group" *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
        <crm-help [field]="loginForm.get('password')!" [errorMessages]="errorMessagesPassword" class="error-control"></crm-help>
      </div>
    </div>
    <div class="action-buttons">
      <button mat-button color="primary" (click)="login()" [disabled]="loginForm.invalid">Connexion</button>
    </div>
  </form>
</div>
